img {
  border-radius: 75px;
}

h2 {
  font-size: 18px;
}

body {
  background-color: lightpink;
  font-family: Trebuchet MS;
  color: black;
}

a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: slateblue;
}

body {
  text-align: center;
  margin: 150px 0 0 0;
  background-image: url(https://i.pinimg.com/736x/fa/d6/9c/fad69c231e638cd6833605f0f1ac0c9b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
